/* Google Fonts */
.orbitron-collinvesel {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.oxanium-collinvesel {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Global variables */
:root {
    --screen-margin: 1em;
    --tile-gap: 2em;
    --tile-min-width: 7em;
    /*
        This is in px because it needs to be the same size relative to the user's
        finger regardless of what device they have.
    */
    --safe-area: 72px;
}

/* Main styles */

/*
    Body should be at least as tall as the screen. This plus making it a flexbox
    (see `:has(> footer)` below) are necessary to make the footer always appear at
    the bottom of the screen.

    `min-width` is set to make sure that the screen is properly scrollable in the
    unlikely event that it is too narrow to display even one tile at its smallest
    possible size.

    Making the body element a flexbox also gives me a way to center the
    #HomescreenTiles element, since the "width: x; margin: auto" trick won't work
    when I need a minimum margin (see #HomescreenTiles below). "display: flex" and
    "flex-direction: column" are written both here and in ":has(> footer)" below in
    case I want to someday move those into separate CSS files.
*/
body {
    box-sizing: border-box;
    padding: var(--screen-margin);
    min-width: calc(
        var(--tile-min-width)
        + 2 * var(--screen-margin)
    );
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #efefff;
}

/*
    Header should be centered horizontally and aligned with the top of the page.
    Its children should be able to wrap their text as necessary to fit comfortably
    on the screen without overflowing horizontally, and the header should grow
    downward as necessary to accomodate them.
*/
header {
    text-align: center;
    margin: var(--screen-margin);
}

/*
    Make the h1 and the p inside the header not be spaced apart weirdly.
*/
header h1, header p {
    margin: 0;
}

/*
    Block margin for <main> so it's spaced out from the <footer> better like it is
    with the <header>.
*/
main {
    margin-block: var(--screen-margin);
}

/*
    Styling for most links.
*/
a {
    color: blue;
    transition: 0.3s;
}
a:visited {
    color: #464669;
}
a:hover {
    color: #005f00;
}
a:active {
    color: #6a4c00;
}

/*
    Footer should be a flexbox. If the three items in the footer each need their
    own line, they should all be left-justified. If they can all share one line,
    they should be left-right justified. If two can share one line but the third
    needs a separate one, the two that share a line should be left-right justified
    while the third one is left-justified. This is achieved with `flex-wrap: wrap`
    and `justify-content: space-between`. 'column-gap' is set because without it,
    the three footer items bunch up on certain screen sizes (namely, at least one
    of the iPads in portrait mode in Microsoft Edge's device emulator).
*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 1em;
}
/*
    To make the footer always appear at the bottom of the content or the screen
    - whichever is taller - the footer's parent element should be at least as tall
    as the screen with no margin, and it should be a flexbox. Also, the element
    immediately before the footer should have a "flex-grow" of 1 so that it expands
    to fill any remaining space if the content is shorter than the screen.
*/
:has(> footer) {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
:has(+ footer) {
    flex-grow: 1;
}

/*
    Non-layout styling for the footer. (Currently only used to make the version
    number look like the rest of the elements that I have there.)
*/
footer code {
    font-size: smaller;
}

