/* Google Fonts */
.orbitron-collinvesel {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.oxanium-collinvesel {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Main styles */

/*
    Body should be at least as tall as the screen. This plus making it a flexbox
    are necessary to make the footer always appear at the bottom of the screen.

    "min-width: 12em" is to make sure that the screen is properly scrollable in the
    unlikely event that it is too narrow to display even one tile at its smallest
    possible size.
*/
body {
    box-sizing: border-box;
    padding: 1em;
    min-width: 12em;

    background-color: #efefff;
}

/*
    Header should be centered horizontally and aligned with the top of the page.
    Its children should be able to wrap their text as necessary to fit comfortably
    on the screen without overflowing horizontally, and the header should grow
    downward as necessary to accomodate them.
*/
header {
    text-align: center;
    margin: 1em;
}

/*
    Make the h1 and the p inside the header not be spaced apart weirdly. May need
    to adjust this spacing when I add the correct font.
*/
header h1, header p {
    margin: 0;
}

/*
    Block margin for <main> so it's spaced out from the <footer> better like it is
    with the <header>.
*/
main {
    margin-block: 1em;
}

/*
    Styling for most links.
*/
a {
    color: blue;
    transition: 0.3s;
}
a:visited {
    color: #464669;
}
a:hover {
    color: #005f00;
}
a:active {
    color: #6a4c00;
}

/*
    Main should be centered horizontally and should have enough of a gap between
    the tiles to avoid the "giant button problem" that a UI like this may have.

    Because I want the tiles' position and size to ideally be controlled by their
    parent element (".HomescreenTiles", in this case), the rules for how the
    homescreen tiles should behave are included here:
    - In all situations, the tiles should all be the same size and should be
    square.
    - If the screen is wide enough to fit all three tiles to fit on one line, the
    container should not get wider with the screen.
    - If the screen is not wide enough to fit all three tiles on one line, they
    should wrap.
    - The tiles have a minimum width of 10em and a maximum width of the screen
    width minus the margin and gaps (2 gaps for three tiles oer line, 1 gap for
    two tiles per line, or 0 gaps for one tile per line) divided by the number
    of tiles per line, or 20em, whichever is less. The tiles should be as big
    as possible within these constraints and the UI should prefer shrinking
    them rather than wrapping them.
    - If the screen isn't wide enough to fit even one tile at its smallest
    possible size, then and only then should it be horizontally scrollable.
    - Although the container should be horizontally centered, the tiles
    themselves should be left-alined. They should also be wide enough to take up
    the width of the screen if they don't all fit on one line, but the above rules
    about their size should guarantee this.
*/
.HomescreenTiles {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    max-width: calc(150vh + 5em);
    margin-inline: auto;
    align-content: flex-start;
}
.HomescreenTiles .Tile {
    aspect-ratio: 1;
    min-width: 10em;
    max-width: 100%;
}

/*
    Three states for the UI to look like:
    1.  ---   2.  ---   ---   3.  ---   ---   ---
       |   |     |   | |   |     |   | |   | |   |
        ---       ---   ---       ---   ---   ---
        ---       ---
       |   |     |   |
        ---       ---
        ---
       |   |
        ---

    - If the aspect ratio is taller than 3/4 OR if the screen width is less than
    24.5em (two tiles at minimum size plus the gap between them plus the inline
    padding for the whole screen), use layout 1. (This should be what the default
    style does.)
    - If the aspect ratio is between 3/4 and 4/3 OR if the screen width is between
    24.5em and 37em (three tiles at the minimum size plus two gaps between them
    plus inline padding for the whole screen), use layout 2.
    - If the aspect ratio is wider than 4/3 AND the screen width is more than 37em,
    use layout 3, but set the max width of each tile at 50vh so that it doesn't
    look weird for the few people who may be using an ultrawide monitor.
*/
@media only screen and (
    (3/4 <= aspect-ratio <= 4/3) or
    (24.5em <= width < 37em)
) {
    .HomescreenTiles .Tile {
        max-width: calc((100% - 2.5em) / 2);
    }
}
@media only screen and (
    (aspect-ratio > 4/3) and
    (width >= 37em)
) {
    .HomescreenTiles .Tile {
        max-width: calc((100% - 5em) / 3);
    }
}

/* If the aspect ratio is above 4:3, set max-width to 50vh */

/* If the screen width is more than 67em, set max-width to 20em */
/* @media only screen and (min-width: 67em) {
    .HomescreenTiles .Tile {
        max-width: 50vh;
    }
} */
/* If the screen width is between 37em and 67em, set max-width to (100% - 5em) / 3 */
/* @media only screen and (min-width: 37em) and (max-width: 67em) {
    .HomescreenTiles .Tile {
        max-width: calc((100% - 5em) / 3);
    }
} */
/*
    If the screen width is between 24.5em and 37em or if the screen aspect ratio is
    between 4:3 and 3:4, set max-width to (100% - 2.5em) / 2.
*/
/* @media only screen and ((24.5em <= width < 37em) or (3/4 <= aspect-ratio <= 4/3)) {
    .HomescreenTiles .Tile {
        max-width: calc((100% - 2.5em) / 2);
    }
} */

/*
    The tiles' styles should be applied to a class rather
    than to the <a> elements that I'm currently using as I plan on replacing those
    with custom components. As much as possible, the tile's position and size
    should be controlled by the tile's parent element rather than by this CSS class.
*/
.Tile {
    flex: 1;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 0.5em;

    background-color: green;
    background-image: radial-gradient(ellipse 100% 50% at top, rgba(226, 226, 226, 0.75), transparent);
    color: white;
    text-decoration: none;

    scale: none;
    transition: 0.1s linear;
}
.Tile:visited {
    color: white;
}
@media only screen and (hover) {
    .Tile:hover,
    .Tile:focus {
        color: white;

        scale: 105%;
    }
}
.Tile:active {
    color: white;

    scale: 97.5%
}

/*
    Footer should also be a flexbox. If the three items in the footer each need
    their own line, they should all be left-justified. If they can all share one
    line, they should be left-right justified. If two can share one line but the
    third needs a separate one, the two that share a line should be left-right
    justified while the third one is left-justified. This is achieved with "flex-
    wrap: wrap" and "justify-content: space-between".
*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*
    To make the footer always appear at the bottom of the content or the screen
    - whichever is taller - the footer's parent element should be at least as tall
    as the screen with no margin, and it should be a flexbox. Also, the element
    immediately before the footer should have a "flex-grow" of 1 so that it expands
    to fill any remaining space if the content is shorter than the screen.
*/
:has(> footer) {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
:has(+ footer) {
    flex-grow: 1;
}

/*
    Non-layout styling for the footer.
*/
footer code {
    font-size: smaller;
}
