/* Google Fonts */
.orbitron-collinvesel {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.oxanium-collinvesel {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Global variables */
/*
    NOTE: If changing any of these values, make sure to also change any media
    queries that depend on those values. (As of this writing, you can't use CSS
    variables or functions in media queries for some reason.)
*/
:root {
    --screen-margin: 1em;
    --tile-min-width: 10em;
    --tile-max-width: 47vh;
    --tile-gap: 1em;
    /*
        Using px instead of a relataive unit here because the gap between tiles
        needs to be the same size relative to the user's finger no matter what
        size screen they're using.
    */
    --safe-space: 72px;
}

/* Main styles */

/*
    Body should be at least as tall as the screen. This plus making it a flexbox
    (see `:has(> footer)` below) are necessary to make the footer always appear at
    the bottom of the screen.

    `min-width` is set to make sure that the screen is properly scrollable in the
    unlikely event that it is too narrow to display even one tile at its smallest
    possible size.
*/
body {
    box-sizing: border-box;
    padding: var(--screen-margin);
    min-width: min-content;

    background-color: #efefff;
}

/*
    Header should be centered horizontally and aligned with the top of the page.
    Its children should be able to wrap their text as necessary to fit comfortably
    on the screen without overflowing horizontally, and the header should grow
    downward as necessary to accomodate them.
*/
header {
    text-align: center;
    margin: var(--screen-margin);
}

/*
    Make the h1 and the p inside the header not be spaced apart weirdly.
*/
header h1, header p {
    margin: 0;
}

/*
    Block margin for <main> so it's spaced out from the <footer> better like it is
    with the <header>.
*/
main {
    margin-block: var(--screen-margin);
}

/*
    Styling for most links.
*/
a {
    color: blue;
    transition: 0.3s;
}
a:visited {
    color: #464669;
}
a:hover {
    color: #005f00;
}
a:active {
    color: #6a4c00;
}

/*
    Main should be centered horizontally and should have enough of an inline margin
    to avoid the "giant button problem" that a UI like this may have.

    Because I want the tiles' position and size to ideally be controlled by their
    parent element ("#HomescreenTiles", in this case), the rules for how the
    homescreen tiles should behave are included here:
    - In all situations, the tiles should all be the same size and should be
    square.
    - If the screen is wide enough to fit all three tiles to fit on one line, the
    container should not get wider with the screen.
    - If the screen is not wide enough to fit all three tiles on one line, they
    should wrap.
    - The tiles have a minimum width of 10em and a maximum width of the screen
    width minus the margin and gaps (2 gaps for three tiles oer line, 1 gap for
    two tiles per line, or 0 gaps for one tile per line) divided by the number
    of tiles per line, or 20em, whichever is less. The tiles should be as big
    as possible within these constraints and the UI should prefer shrinking
    them rather than wrapping them.
    - If the screen isn't wide enough to fit even one tile at its smallest
    possible size, then and only then should it be horizontally scrollable.
    - Although the container should be horizontally centered, the tiles
    themselves should be left-alined. They should also be wide enough to take up
    the width of the screen if they don't all fit on one line, but the above rules
    about their size should guarantee this.
*/
#HomescreenTiles {
    --num-columns: 1;
    display: grid;
    grid-template-columns: repeat(var(--num-columns), 1fr);
    grid-auto-rows: min-content;
    gap: var(--tile-gap);
    min-width: var(--tile-min-width);
    width: 100%;
    margin-inline: auto;
}
#HomescreenTiles .Tile {
    aspect-ratio: 1;
    min-width: var(--tile-min-width);
    width: 100%;
}

/*
    Three states for the UI to look like:
    1.  ---   2.  ---   ---   3.  ---   ---   ---
       |   |     |   | |   |     |   | |   | |   |
        ---       ---   ---       ---   ---   ---
        ---       ---
       |   |     |   |
        ---       ---
        ---
       |   |
        ---

    - If the aspect ratio is taller than 13/20, use layout 1. (This should be what
    the default style does.)
    - If the aspect ratio is between 13/20 and 20/13, use layout 2.
    - If the aspect ratio is wider than 20/13, use layout 3, but set the max width
    of each tile at 50vh so that it doesn't look weird for the few people who may
    be using an ultrawide monitor.
*/
@media only screen and (0.6 <= aspect-ratio < 1.2) {
    #HomescreenTiles {
        --num-columns: 2;
    }
}
@media only screen and (aspect-ratio >= 1.2) {
    #HomescreenTiles {
        --num-columns: 3;
        max-width: calc(3 * var(--tile-max-width) + 2 * var(--tile-gap));
    }
}

/*
    The tiles' styles should be applied to a class rather than to the <a> elements
    that I'm currently using as I plan on replacing those with custom components.
    As much as possible, the tile's position and size should be controlled by the
    tile's parent element rather than by this CSS class.
*/
.Tile {
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 0.5em;

    background-color: green;
    background-image: radial-gradient(ellipse 100% 50% at top, rgba(226, 226, 226, 0.75), transparent);
    color: white;
    text-decoration: none;

    scale: none;
    transition: 0.1s linear;
}
.Tile:visited {
    color: white;
}
@media only screen and (hover) {
    .Tile:hover,
    .Tile:focus {
        color: white;

        scale: 105%;
    }
}
.Tile:active {
    color: white;

    scale: 97.5%
}

/*
    Footer should be a flexbox. If the three items in the footer each need their
    own line, they should all be left-justified. If they can all share one line,
    they should be left-right justified. If two can share one line but the third
    needs a separate one, the two that share a line should be left-right justified
    while the third one is left-justified. This is achieved with `flex-wrap: wrap`
    and `justify-content: space-between`.
*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*
    To make the footer always appear at the bottom of the content or the screen
    - whichever is taller - the footer's parent element should be at least as tall
    as the screen with no margin, and it should be a flexbox. Also, the element
    immediately before the footer should have a "flex-grow" of 1 so that it expands
    to fill any remaining space if the content is shorter than the screen.
*/
:has(> footer) {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
:has(+ footer) {
    flex-grow: 1;
}

/*
    Non-layout styling for the footer. (Currently only used to make the version
    number look like the rest of the elements that I have there.)
*/
footer code {
    font-size: smaller;
}
