.ModalPage {
    width: calc(100vw - 2em);
    margin: 1em auto;
}

.ModalBar {
    display: flex;
    position: sticky;
    top: 0%;
    left: 0%;
    right: 0%;
    background-color: #efefff;
}

.ModalContent {
    padding: 1em;
}

.CloseBtn {
    text-decoration: none;
    color: white;
    background-color: rgb(173, 22, 22);
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    transition-duration: 0.1s;
}

.CloseBtn:hover,
.CloseBtn:focus {
    background-color: rgb(237, 22, 22);
    transition-duration: 0.1s;
}

.CloseBtn:active {
    background-color: rgb(255, 73, 73);
    transition-duration: 0.1s;
}

@media only screen and (min-width: 52em) and (orientation: landscape) {
    .ModalPage {
        width: calc(150vh - 11.5em);
        margin: auto;
    }
}