.ModalPage {
    width: calc(100vw - 2em);
    margin: 1em auto;
}

.ModalBar {
    display: flex;
    position: sticky;
    top: 0%;
    left: 0%;
    right: 0%;
    background-color: #efefff;
}

.ModalContent {
    padding: 1em;
}

.HomeBtn {
    text-decoration: none;
    color: black;
    background-color: #d7d7e7;
    /* width: 2em; */
    height: 2em;
    text-align: center;
    line-height: 2em;
    transition-duration: 0.1s;
}

.HomeBtn:hover,
.HomeBtn:focus {
    background-color: #bfbfcf;
    transition-duration: 0.1s;
}

.HomeBtn:active {
    background-color: black;
    color: white;
    transition-duration: 0.1s;
}

@media only screen and (min-width: 52em) and (orientation: landscape) {
    .ModalPage {
        width: calc(150vh - 11.5em);
        margin: auto;
    }
}