body {
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #efefff;
}

body > main {
    flex-grow: 1;
}

header {
    text-align: center;
    margin: 1em;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

header p {
    font-size: 1.75em;
    margin-block: 0;
}

/* h1, h1 + p {
    font-family: 'Cascadia Code', sans-serif;
} */

/* p {
    font-family: sans-serif;
} */

dialog {
    border: none;
    background-color: #efefff;
    padding: 0;
    max-width: calc(100% - 2em);
}

dialog::backdrop {
    background-color: rgba(191, 191, 207, 0.5);
    backdrop-filter: blur(5px);
}