/* Mobile styling by default and desktop styling in a media query bc
I've heard that's a best practice. */

.SiteTitle {
    text-align: center;
    margin-block: 2em;
}

.ClearMargin {
    margin: 0;
}

.HomeGrid {
    display: grid;
    grid-template-columns: repeat(3, calc(33vw - 2.33em));
    grid-auto-rows: calc(33vw - 2.33em);
    gap: 2.5em;
}