/* Mobile styling by default and desktop styling in a media query bc
I've heard that's a best practice. */

.SiteTitle {
    text-align: center;
}

.HomeGrid {
    display: grid;
    grid-template-columns: repeat(4, calc(25vw - 2.375em));
    grid-template-rows: repeat(5, calc(25vw - 2.375em));
    gap: 2.5em;
}