.MePic {
    display: block;
    width: calc(100vw - 4em);
    height: calc(75vw - 3em);
    margin: auto;
}

@media only screen
 /* and (min-width: 52em) */
 and (orientation: landscape) {
    .MePic {
        width: 16em;
        height: 12em;
    }
}