.ResumeGrid {
    display: grid;
    grid-template-columns: repeat(2, calc(50vw - 3.25em));
    grid-auto-rows: calc(50vw - 3.25em);
    gap: 2.5em;
    width: calc(100vw - 4em);
    margin: 1em auto;
}

@media only screen
 /* and (min-width: 52em) */
 and (orientation: landscape) {
    .ResumeGrid {
        /* width: calc(150vh - 13.5em); */
        width: fit-content;
        margin: auto;
        /* grid-template-columns: repeat(3, calc(25vh - 2.75em)); */
        grid-template-columns: repeat(2, 25vh);
        grid-auto-rows: 25vh;
    }
}

/* If you're using a mouse, the gaps between the tiles will be smaller since I */
/* think it looks beter. */
/* @media only screen and (pointer: fine) {
    .ResumeGrid {
        gap: 1em;
    }
} */