.ResumeGrid {
    display: grid;
    grid-template-columns: repeat(2, calc(50vw - 3.25em));
    grid-auto-rows: calc(50vw - 3.25em);
    gap: 2.5em;
    width: calc(100vw - 4em);
    margin: 1em auto;
}

.PDFTile {
    background-color: #b50c0c !important;
}

.WordDocTile {
    background-color: #2b579a !important;
}

@media only screen and (min-width: 52em) and (orientation: landscape) {
    .ResumeGrid {
        /* width: calc(150vh - 13.5em); */
        width: fit-content;
        margin: auto;
        /* grid-template-columns: repeat(3, calc(25vh - 2.75em)); */
        grid-template-columns: repeat(2, calc(50vh));
        grid-auto-rows: calc(50vh);
        gap: 1em;
    }
}