.SocialsGrid {
    display: grid;
    grid-template-columns: repeat(3, calc(33vw - 2.34em));
    grid-auto-rows: calc(33vw - 2.34em);
    gap: 2.5em;
    width: calc(100vw - 2em);
    margin: 1em auto;
}

.EmailTile {
    background-color: gray;
}

.LinkedInTile {
    background-color: #0965c0;
}

.GitHubTile {
    background-color: #010409;
}

@media only screen and (min-width: 52em) and (orientation: landscape) {
    .SocialsGrid {
        width: calc(150vh - 11.5em);
        margin: auto;
        grid-template-columns: repeat(3, calc(25vh - 2.75em));
        grid-auto-rows: calc(25vh - 2.75em);
        gap: 1em;
    }
}